<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-7xL2sPhcxhms21KOtqBH8HNvFUuFPqg</string>
	<key>GCM_SENDER_ID</key>
	<string>973142493949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensesTracker</string>
	<key>PROJECT_ID</key>
	<string>e-nganzo</string>
	<key>STORAGE_BUCKET</key>
	<string>e-nganzo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973142493949:ios:f1a0621fc6f8f9232b8c94</string>
	<key>DATABASE_URL</key>
	<string>https://e-nganzo-default-rtdb.firebaseio.com</string>
</dict>
</plist>